body {
  margin: 0%;
  padding: 0%;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(227, 182, 255);
}
.header {
margin: 20px 0 20px 0;
font-size: 36px;
font-weight: 200;
}
.todoList {
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

